.flex-container {
  display: flex;
  justify-content: center;
  background-color: lightblue;
}
span {
  margin-left: 5px;
}
table {
  background-color: deepskyblue;
}
.th {
  background-color: wheat;
}
